* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 2rem;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-highlight {
    color: #4CAF50; 
}

/* Sico's Note: Naki-click yung logo para bumalik sa Home page */
#clickable-logo {
    color: #333333;
    text-decoration: none; 
    cursor: pointer; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.auth-buttons {
    display: flex;
    gap: 1rem;
}

.auth-buttons .login,
.auth-buttons .signup {
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.auth-buttons .login {
    color: #333;
    background-color: #f8f8f8;
}

.auth-buttons .signup {
    color: #fff;
    background-color: #4CAF50;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
}

.content {
    max-width: 50%;
    padding-left: 2rem;  
}

.content h2 {
    margin-top: 8rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.get-started {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}

.credits {
    margin-top: 15rem;
    font-size: 0.9rem;
    color: #666;
}

.illustration img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .content {
        max-width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        padding-left: 0;  
    }

    .illustration {
        text-align: center;
    }
}
